body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
}
.logo {
    width: 30%;
}
.article {
    margin-top: 100px;
    display: flex;
}
.nav1 {
    margin-top: 200px;
    text-align: center;
}
.sejarah {
    display: flex;
    text-align: justify;
}
.misi {
    display: flex;
    text-align: justify;
}
.sekolah {
    margin-right: 20px;
}
.memilih {
    text-align: justify;
}
.video {
    width: max-content;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
    border-radius: 15px;
}
.footer {
    border-radius: 15px;
    margin-top: 50px;
    background-color: cadetblue;
}
article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}
